<!DOCTYPE html>

<html>

<head>
    <style>
        div ul{
            font-style: italic;
            font-family: sans-serif;
            font-size: 20px;
        }
    </style>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}<br><br>
        <ul>
            <li>This website is created using <a href="https://weatherstack.com/" target="_blank">Weatherstack</a> api and <a href="https://www.mapbox.com/" target="_blank">Mapbox</a> api</li><br><br><br>
        <li>Weatherstack Api does not send forecast unless it has latitude and longitude coordinates and so Mapbox Api is used. </li><br><br>
        <li>Mapbox Api converts the input text address to latitude and longitude coordinates and these coordinates are used by the <p>Weather stack Api.</p></li><br>
        <li>The Weatherstack Api sends back the forecast results accordingly.</li>
        </ul>
    </div>
    
   
</body>

</html>