<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{helpText}}</p><br>
<<<<<<< HEAD
        <p><a href="https://github.com/jay11125/weather-app" target="_blank"><img src="https://img.icons8.com/fluent-systems-filled/48/000000/github.png"/><br>Github</a></p>
=======
>>>>>>> 9efa26b5f375c1f08c0d1062cc2cae46b3fb3bd7
    </div>
</body>

</html>
