<!DOCTYPE html>

<html>

<head><style>
    #message-1,#message-2{
       
        font-weight: 600;

    }
</style>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        
        <div>{{>header}}</div>

        <p class="info">Enter a location below or use current location to get the weather !</p>

        <form>
            <input placeholder="Location">
            <button id='address'>Search</button>
            <button id="geolocation">Current Location</button>
        </form><br><br>
        <p id="message-1"></p><br>
        <p id="message-2"></p>

    </div>
      
    <script src="/js/app.js"></script>
</body>

</html>