* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("../img/background.jpg") no-repeat fixed center;
  background-size: cover;
  color: #333333;
  font-family: arial;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-content {
  margin-left: 10%;
  flex-grow: 1;
}
.info {
  margin: 15px 5px;
}
header {
  margin-top: 16px;
  margin-bottom: 48px;
}

h1 {
  font-size: 64px;
  margin-bottom: 16px;
}

header a {
  font-size: larger;
  color: #313131;
  margin-right: 16px;
}
a:hover {
  color: #cccccc;
  text-decoration: underline;
}

input {
  width: 30%;
  border: 1px solid #cccccc;
  border-radius: 7px;
  outline: none;
  padding: 8px;
}
input:hover {
  box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.541);
}

button {
  cursor: pointer;
  border: 1px solid #6d86d3;
  border-radius: 10px;
  background: #313131;
  color: white;
  padding: 8px;
  outline: none;
}
button:hover {
  color: #313131;
  background: #71dbaf;
  box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.541);
}
